<h1>New User</h1>

<%= form_with model: @user do |form| %>

  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation, "Confirm Password" %>
  <%= form.password_field :password_confirmation %>

  <%= form.label :gender %>
  <%= form.text_field :gender %>

  <%= form.label :country %>
  <%= form.country_select :country %>

  <%= form.label :terms_and_conditions, 'I accept the terms and conditions' %>
  <%= form.check_box :terms_and_conditions %>

  <%= form.submit "Create my account" %>

<% end %>
