<div class="container">
  <h1><%= @user.username %>'s Profile</h1>

  <p>Email: <%= @user.email %></p>
  <p>Gender: <%= @user.gender %></p>
  <p>Country: <%= @user.country %></p>

  <picture>
    <% if @user.profile_picture.attached? %>
      <img src="<%= url_for(@user.profile_picture.variant(resize: "100x100")) %>" class="img-thumbnail">
    <% else %>
      <img src="<%= asset_path('profile_pic_woman.jpg') %>" class="img-thumbnail">
    <% end %>
  </picture>

  <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
  <%= link_to 'Log Out', logout_path, method: :delete, class: "btn btn-danger" %>
</div>
